/*--------------------------------------------------------------------
*
* thefoodplace.cafe ❤︎ 
*
--------------------------------------------------------------------*/

@import 'globals/_variables'
@import 'globals/_reset'

@import 'components/base'
@import 'components/type'
@import 'components/nav'
@import 'components/header'
@import 'components/menu'
@import 'components/menu-items'
@import 'components/callouts'
@import 'components/intro'
@import 'components/food'
@import 'components/beverages'
@import 'components/froyo'
@import 'components/partners'
@import 'components/footer'

@import 'pages/fourohfour'
