/*--------------------------------------------------------------------
*
* thefoodplace.cafe ❤︎ 
*
--------------------------------------------------------------------*/

@import 'globals/_variables'
@import 'globals/_reset'

@import 'components/base'
@import 'components/type'
@import 'components/nav'
@import 'components/header'
@import 'components/menu'
@import 'components/intro'
@import 'components/food'
