/*--------------------------------------------------------------------
* $BASE
--------------------------------------------------------------------*/

*, *:before, *:after
  box-sizing: border-box

::selection
  background: $black
  color: white

img
  max-width: 100%

body
  padding: 20px
  font-family: $font-family-tisa
  font-weight: $font-weight-light
  font-size: 112.5%
  line-height: 1.5
  background-color: $green
  color: black

a
  text-decoration: none

.container
  max-width: 1200px
  margin: 0 auto

.center
  text-align: center
