/*--------------------------------------------------------------------
* $FOOD MENU
--------------------------------------------------------------------*/

#cheese-plate
  margin-top: 110px
  padding-top: 85px
  .illo
    transform: translate(-60%,-55%)

#jalepeno-poppers
  margin-top: 75px
  padding-top: 60px
  .illo
    transform: translate(-55%,-50%)

#chowder
  margin-top: 110px
  padding-top: 75px
  .illo
    transform: translate(-55%,-60%)

#neverending-shrimp
  margin-top: 80px
  padding-top: 50px
  .illo
    transform: translate(-55%,-60%)

#brunch
  margin-top: 30px
  padding: 15px 0 20px
  column-span: all
  border-top: $dashed
  border-bottom: $dotted

  .container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 50px

#eggs
  margin-top: 90px
  padding-top: 60px

#churro-dog
  margin-top: 90px
  padding-top: 60px
