/*--------------------------------------------------------------------
* $FOOD MENU
--------------------------------------------------------------------*/

#cheese-plate
  margin-top: 110px
  padding-top: 85px
  .illo
    transform: translate(-60%,-55%)

#jalapeno-poppers
  margin-top: 75px
  padding-top: 60px

#chowder
  margin-top: 100px
  padding-top: 75px
  .illo
    transform: translate(-60%,-60%)

#neverending-shrimp
  margin-top: 130px
  padding-top: 85px
  .illo
    transform: translate(-58%,-60%)

#brunch
  padding: 15px 0 20px
  border-top: $dashed
  border-bottom: $dotted

#pancakes
  margin-top: 90px
  padding-top: 90px

#eggs
  margin-top: 100px
  padding-top: 80px
  .illo
    transform: translate(-60%,-55%)

#churro-dog
  margin-top: 90px
  padding-top: 50px
  .illo
    transform: translate(-50%,-70%)

#electrical-tape
  margin-top: 80px
  padding-top: 60px
  .illo
    transform: translate(-52%,-50%)

#sandwich
  margin-top: 90px
  padding-top: 80px
  .illo
    transform: translate(-51%,-40%)

#plate
  margin-top: 60px
  padding-top: 50px

#chili
  margin-top: 140px
  padding-top: 90px
  .illo
    transform: translate(-55%,-60%)

#pizza
  margin-top: 80px
  padding-top: 65px

#ostrich-pencil
  margin-top: 80px
  padding-top: 65px

#lemon-bars
  margin-top: 110px
  padding-top: 60px
  .illo
    transform: translate(-65%,-60%)

#mint-cake
  margin-top: 80px
  padding-top: 60px

#spaghetti-disc
  margin-top: 80px
  padding-top: 60px

#spicy-mayo
  margin-top: 115px
  padding-top: 110px

#mixed-teeth
  margin-top: 80px
  padding-top: 70px

#double-trouble
  margin-top: 110px
  padding-top: 100px

#junior-mint
  margin-top: 80px
  padding-top: 70px
