/*--------------------------------------------------------------------
* $FOOD MENU
--------------------------------------------------------------------*/

#cheese-plate
  margin-top: 110px
  padding-top: 85px
  .illo
    transform: translate(-60%,-55%)

#jalepeno-poppers
  margin-top: 75px
  padding-top: 60px
  .illo
    transform: translate(-55%,-50%)

#chowder
  margin-top: 110px
  padding-top: 75px
  .illo
    transform: translate(-55%,-60%)

#neverending-shrimp
  margin-top: 120px
  padding-top: 80px
  .illo
    transform: translate(-58%,-60%)

#brunch
  padding: 15px 0 20px
  column-span: all
  border-top: $dashed
  border-bottom: $dotted

  .container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 50px

#eggs
  margin-top: 100px
  padding-top: 80px
  .illo
    transform: translate(-60%,-55%)

#churro-dog
  margin-top: 90px
  padding-top: 50px
  .illo
    transform: translate(-50%,-70%)

#electrical-tape
  margin-top: 80px
  padding-top: 60px
  .illo
    transform: translate(-52%,-50%)

#sandwich
  margin-top: 90px
  padding-top: 80px
  .illo
    transform: translate(-51%,-40%)

#plate
  margin-top: 60px
  padding-top: 50px

#chili
  margin-top: 140px
  padding-top: 90px
  .illo
    transform: translate(-55%,-60%)

#pizza
  margin-top: 80px
  padding-top: 65px
