/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

.footer
  padding: 20px 0
  background: #222
  text-align: center
  color: white

  hr
    width: 150px
    margin: 10px auto 20px

  p
    margin-bottom: 10px
    font-size: .8em

  a
    color: white
    display: inline-block
    border-bottom: 1px dotted
    opacity: 1
    transition: opacity .3s ease-in-out

    &:hover
      opacity: .6

  .coffee
    border: none
    margin-top: 10px
    transition: transform 300ms ease-in-out

    &:hover
      transform: scale(1.2)
      opacity: 1
