/*--------------------------------------------------------------------
* $FOOTER
--------------------------------------------------------------------*/

.footer
  padding: 20px 0
  background: #222
  text-align: center
  color: white

  p
    margin-bottom: 10px
    font-size: .8em

  a
    color: white
    display: inline-block
    border-bottom: 1px dotted
    opacity: 1
    transition: opacity .3s ease-in-out

    &:hover
      opacity: .6
