#froyo
  .quote
    margin-top: 15px

#froyo-list
  padding: 30px

ul.froyo-flavors
  margin: 0
  font-size: .74em
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr))
  grid-gap: 5px

  li
    text-transform: capitalize
    background: green(.07)
    padding: 10px 12px
    display: flex
    align-items: center
    $font-tisa-regular()

#chidi-froyo
  margin-top: 90px
  padding-top: 90px
  .illo
    transform: translate(-60%,-50%)
