/*--------------------------------------------------------------------
* $HEADER
--------------------------------------------------------------------*/

.hero
  padding: 50px 0
  text-align: center
  color: white
  clear: both

  small
    font-family: Helvetica
    color: white
    font-style: normal
