/*--------------------------------------------------------------------
* $HEADER
--------------------------------------------------------------------*/

.hero
  padding: 50px 0
  text-align: center
  color: white
  clear: both
  background: url('/assets/images/illo-header.svg') no-repeat

  @media screen and (min-width: $bp-medium + 1)
    padding-bottom: 80px

  @media screen and (min-width: $bp-small + 1)
    background-position: center bottom -20px
    background-size: 95% auto

  @media screen and (max-width: $bp-small)
    background-position: center bottom -7px
    background-size: 140% auto

  small
    font-family: Helvetica
    color: white
    font-style: normal
