/*--------------------------------------------------------------------
* $MENU
--------------------------------------------------------------------*/

.menu
  padding: 30px
  background: white
  columns: 380px
  column-gap: 50px

  section
    margin-bottom: 50px

  & > *
    break-inside: avoid-column
    margin-bottom: 40px

  h2, h3
    color: $green
    text-align: center

  h3
    padding-bottom: 10px
    text-transform: uppercase
    border-bottom: $dashed

  .name,
  .episode
    font-family: $font-family-brandon
