/*--------------------------------------------------------------------
* $MENU
--------------------------------------------------------------------*/

.menu
  background: white

  @media screen and (max-width: $bp-small)
    padding: 30px 15px

  @media screen and (min-width: $bp-small + 1)
    padding: 30px

  @media screen and (min-width: $bp-medium + 1)
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 50px

    .wide
      grid-column: 1 / -1

      .container
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 50px

  & + .menu
    margin-top: 20px

  section
    margin-bottom: 50px

  h2, h3
    color: $green
    text-align: center

  h3
    padding-bottom: 10px
    text-transform: uppercase
    border-bottom: $dashed
