/*--------------------------------------------------------------------
* $MENU ITEMS
--------------------------------------------------------------------*/

.menu-item
  display: grid
  grid-template-columns: b(item) auto b(episode) auto
  grid-column-gap: 50px
  
  &:not(:last-child)
    margin-bottom: 20px

  .name
    margin-bottom: 5px
    grid-column: item
    font-size: 1em
    line-height: 1.2
    $font-brandon()

    &.featured
      margin-bottom: 20px
      font-size: 1.4em

    .emoji
      font-size: .8em

  .episode
    grid-column: episode
    align-self: start
    justify-self: end
    $font-brandon()
    font-size: .8em

  .description
    grid-column: item
    font-size: .8em

    & > ul
      margin: 15px
      margin-left: 30px

  &.center
    display: flex
    flex-direction: column

    .name,
    .description,
    .episode
      display: block

    .description
      margin-bottom: 15px

    .episode
      align-self: center
      order: 3

.icon
  position: relative

  &:before
    display: block
    position: absolute
    left: -20px
    top: 1px
    font-style: normal
    font-size: 14px

  &.fire:before
    content: '🔥'
  &.shrimp:before
    content: '🍤'
  &.heart:before
    content: '❤️'
  &.potato:before
    content: '🥔'
  &.corn:before
    content: '🌽'
  &.zap:before
    content: '⚡'
