/*--------------------------------------------------------------------
* $NAV
--------------------------------------------------------------------*/

.nav-main
  $font-brandon()
  text-transform: uppercase
  font-size: .8em

  a
    margin-right: 20px
    display: inline-block
    color: white

    &.recommend
      margin-right: 0
      float: right

