/*--------------------------------------------------------------------
* $NAV
--------------------------------------------------------------------*/

.nav-main
  font-family: $font-family-brandon
  font-weight: $font-weight-bold
  text-transform: uppercase
  font-size: .8em

  a
    padding: 5px 10px 3px
    display: inline-block
    color: white

    &:first-child
      padding-left: 0

    &.recommend
      float: right
      background: black(.3)
      border-radius: 3px
      transition: background .3s ease-in

      &:hover
        background: black(.6)

