/*--------------------------------------------------------------------
* $NAV
--------------------------------------------------------------------*/

.nav-main
  $font-brandon()
  position: relative
  text-transform: uppercase
  font-size: .8em

  a
    display: inline-block
    color: white
    border-bottom: 4px solid transparent
    transition: border-color .3s ease-in-out

    &:hover,
    &:focus
      border-color: white
      outline: none

  a.recommend
    position: relative

    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      background: url('/assets/images/icon-twitter.svg') no-repeat 0 center
      background-size: contain

  @media screen and (min-width: $bp-small + 1)
    padding-top: 20px

    a:not(.recommend)
      margin-right: 20px

    a.recommend
      float: right

      &:before
        width: 20px
        height: @width
        left: -25px

  @media screen and (max-width: $bp-small)
    padding-top: 40px
    background: linear-gradient(to bottom, $grey-drk 25px, transparent 25px)
    text-align: center

    a
      margin: 0 10px

    a.recommend
      position: absolute
      top: 5px
      right: 5px
      font-size: .8em
      
      &:before
        width: 12px
        height: @width
        top: 2px
        left: -15px
