/*--------------------------------------------------------------------
* $THE SELECTION MENU
--------------------------------------------------------------------*/

#theselection
  margin-bottom: 0
  padding: 15px 20px
  border: 3px solid $red

  h3
    color: $red
    border-color: inherit

  .callout-style-2
    border-color: $red
    box-shadow: inset -10px -10px 0 white,
                inset -11px -11px 0 $red,
                -11px -11px 0 -1px white,
                -11px -11px 0 $red
