extends layout

block vars
  - var pageDescription = 'The Food Place is a modern eatery for this life and after.'
  - var bodyClass = 'fourohfour'

block title
  | Page Not Found - 

block content

  p 404
