extends _layout

block vars
  - var pageDescription = 'The Food Place is a modern eatery for this life and after.'
  - var bodyClass = 'fourohfour'

block title
  | Page Not Found - 

block content

  .content
    h1 Welcome!
      br
      |Everything is fine.
    p Except the page you’re looking for isn’t here.
      br
      | Try heading back to #[a(href='/') The Food Place homepage].

    p #[span.emoji 🍤]
