extends layout

block vars
  - var pageDescription = 'The Food Place is a modern eatery for this life and after.'
  - var bodyClass = 'landing'

block title
  | The Food Place

block content

  .menu#food

    include includes/_intro

    include includes/_hors-doeuvres

    include includes/_soups

    include includes/_shrimp

    include includes/_brunch

    include includes/_snacks

    include includes/_shareables

    include includes/_favorites

    include includes/_entrees

    include includes/_sides

  .menu#beverages

  .menu#dessert

    include includes/_dessert

    include includes/_froyo

