extends _layout

block vars
  - var pageDescription = 'The Food Place: a modern eatery for this life and after. All the food, drink, and restaurants you remember from the television show “The Good Place.”'
  - var bodyClass = 'landing'

block title
  | The Food Place

block content

  .container

    nav.nav-main
      a(href='#food') Food
      a(href='#beverages') Beverages
      a(href='#dessert') Dessert
      a(href='#partners') Partners
      a.recommend(href='https://ctt.ac/dqfAE') Recommend

    header.hero
      h1 The Food Place
      p A modern eatery for this life and after.
      small &#9733; &#9733; &#9733;

  .container
    .menu#food

      .menu-group
        include includes/_intro
        include includes/_hors-doeuvres
      .menu-group
        include includes/_soups
        include includes/_shrimp
      .menu-group.wide
        include includes/_brunch
      .menu-group
        include includes/_snacks
        include includes/_shareables
        include includes/_favorites
      .menu-group
        include includes/_entrees
        include includes/_sides

    .menu
      .menu-group.wide
        include includes/_the-selection

    .menu#beverages

      .menu-group.wide
        include includes/_bev-cocktails
      .menu-group
        include includes/_bev-wine
        include includes/_bev-beer
        include includes/_bev-energy
      .menu-group
        include includes/_bev-bottomless

    .menu#dessert

      .menu-group.wide
        include includes/_dessert
      .menu-group.wide
        include includes/_froyo

  include includes/_partners

  footer.footer
    p Made with #[span.emoji 💚] by #[a(href='https://twitter.com/lynnandtonic') Lynn Fisher], an Arizona trashbag.
    hr
    p The Food Place is not affiliated with The Good Place or NBC.
