/*--------------------------------------------------------------------
* $VARIABLES
--------------------------------------------------------------------*/

// Font Weights
$font-weight-light = 300
$font-weight-regular = 400
$font-weight-bold = 700

// Font Families
$font-tisa-light()
  font-family: 'ff-tisa-web-pro', Georgia, serif
  font-style: italic
  font-weight: $font-weight-light

$font-tisa-regular()
  font-family: 'ff-tisa-web-pro', Georgia, serif
  font-weight: $font-weight-regular
  font-style: normal

$font-brandon()
  font-family: 'brandon-grotesque', Helvetica, sans-serif
  font-weight: $font-weight-bold
  font-style: normal

// Mixins

b(val) //b for bracket
  unquote("[") + val + unquote("]")

// Grid

$bp-medium = 880px
$bp-small = 500px

// Colors

white(alpha)
  rgba(255,255,255,alpha)

black(alpha)
  rgba(0,0,0,alpha)

green(alpha)
  rgba(48,165,101,alpha)

$black = rgb(0,0,0)
$green = rgb(48,165,101)
$red = rgb(230, 0, 69)

$grey-drk = #333
$grey-med = #888
$grey-light = #ccc
$grey-lightest = #ddd

// Borders

$dashed = 1px dashed $green
$solid = 1px solid $green
$dotted = 1px dotted $green
