section#beer.callout.callout-style-2
  h3 beer
  ul.menu-list

    li.menu-item
      span.name Mindy St Claire’s Favorite Beer
      span.episode 1.12
      span.description Served warm.
    li.menu-item
      span.name #[span.emoji 🔥] Pabst Blue Ribbon
      span.episode 2.10
      span.description A favorite of the Bad Place.
    li.menu-item
      span.name Pillboi’s Hot Tub 40
      span.episode 3.09
      span.description Fill that void with 40 oz of special malted liquor.
    li.menu-item
      span.name Foot Lager Special
      span.episode 3.12
      span.description Served in an extra large boot glass.
