section#bottomless
  h3 Bottomless Beverages
  ul.menu-list

    li.menu-item
      span.name Doug Forcett’s Canada Water
      span.episode 3.08
      span.description Eco-friendly, filtered compost toilet water. Served with the choice of ice or a coozy.
    li.menu-item
      span.name Correspondance Center Water
      span.episode 3.10
      span.description Dip a glass in the glowing bowl of liquid (maybe a toilet).
    li.menu-item
      span.name Oprah’s Mushroom Water
      span.episode 4.03
      span.description Fresh water from her estate in Maui with mushrooms from her private bog in the Pyrenese mountains. Tastes like candy!
    li.menu-item
      span.name Perrier
      span.episode 4.02
      span.description On-demand bottles or personal rain cloud.
    li.menu-item
      span.name Morally Ambiguous Almond Milk
      span.episode 1.13
    li.menu-item
      span.name Jianyu’s Yak’s Milk
      span.episode 2.01
    li.menu-item
      span.name The Good Place Milkshake
      span.episode 4.12
      span.description Made out of actual stardust. Try two!
    li.menu-item
      span.name #[span.emoji 🔥] Tall Glass of Piping Hot Corn Syrup
      span.episode 2.10
    li.menu-item
      span.name Judge Gen’s Sodas
      span.episode 2.11
      span.description Purchase a collectible glowing coaster.
    li.menu-item
      span.name Coke or Water
      span.episode 4.12
      span.description Whichever you choose, Janet can help.
    li.menu-item
      span.name Tab Cola
      span.episode 4.05
      span.description Ice cold from Mindy St. Claire’s refrigerator.
    li.menu-item
      span.name Free Will Iced Tea
      span.episode 3.07
    li.menu-item
      span.name Janet’s Chai There
      span.episode 3.12
    li.menu-item
      span.name Chidi’s Hot Tea
      span.episode 3.02
      span.description Or a regular temperature Xanax.
    li.menu-item
      span.name Root Beer Thrown in the Microwave
      span.episode 3.02
      span.description The closest thing to an herbal tea.
    .callout.callout-style-1.img-top(id='antimatter')
      img.illo(src='/assets/images/illo-antimatter.png', width='113', alt='A cup of coffee.')
      h4 Antimatter
      li.menu-item
        span.name Regular
        span.episode 1.12
      li.menu-item
        span.name French Vanilla
        span.episode 1.12
      li.menu-item
        span.name Hazelnut Decaf
        span.episode 3.01
      li.menu-item
        span.name + Non-Dairy Nutrinos
        span.episode 4.13
    li.menu-item
      span.name Andy’s Coffee
      span.episode 1.03
      span.description Scorpion-free (we think).
    li.menu-item
      span.name The Fake Good Place Coffee
      span.episode 1.02
      span.description Finally, a to-go cup that doesn’t leak.
    li.menu-item
      span.name Coffee From Those Little Pods
      span.episode 2.01
      span.description Diabolical.
    li.menu-item
      span.name Unnecessarily complicated pourover
      span.episode 4.13
      span.description For the coffee snob. From Murray & Mande’s Coffee.
