section#wine
  h3 Wine & Champagne
  ul.menu-list

    li.menu-item
      span.name French Poet’s Select
      span.episode 1.05
      span.description Enjoy a bottle in a rowboat on the lake.
    li.menu-item
      span.name Donna Shellstrop’s Rosé
      span.episode 1.12
      span.description Served chilled on ice with a straw.
    li.menu-item
      span.name Jessica’s Liquid Courage Wine
      span.episode 2.01
      span.description
    li.menu-item
      span.name Classic Red or White
      span.episode 2.01
      span.description Deep down in your heart of hearts you probably already know which one you want.
    li.menu-item
      span.name Jason’s 8/13 Champagne
      span.episode 2.04
      span.description It’s the best. Cheers from one 8 to another.
    li.menu-item
      span.name Gwendolyn’s Recursive Thanks Champagne
      span.episode 3.10
      span.description When you need to thank someone for thanking you for thanking them...
    li.menu-item
      span.name Champagne by Jean Ralphio
      span.episode 2.12
      span.description Turn that frizown upsidizity.
