section#energy
  h3 Energy Drinks
  ul.menu-list

    li.menu-item
      span.name Michael’s Existential Crisis Redbull
      span.episode 2.04
      span.description Can’t stop moving.
    li.menu-item
      span.name Double Trouble
      span.episode 3.05
      span.description An energy drink and body spray in one. Choose from three smell-flavors.
        ul
          li.icon.zap Raspberry Perspirant
          li.icon.zap Cedarwood Melon Blast
          li.icon.zap 24-hour Lemon Musk Extreme (also a lube)
    li.menu-item
      span.name A Ton of Mountain Dew
      span.episode 4.02
      span.description Fuel your breakup routine and follow up with an ATV ride through a Panda Express.
