section#brunch
  h3 Brunch

  .container
    ul.menu-list
      li.menu-item
        span.name Tahani’s Maple Butter Scone
        span.episode 1.03
        span.description They look a little bit burnt. But they’re not!
      li.menu-item
        span.name Mini Waffles
        span.episode 1.05
        span.description 
      li.menu-item
        span.name Stack of Pancakes
        span.episode 3.11
        span.description The Interdimensional Hole of Pancakes’ famous recipe.
      li.menu-item
        span.name Post-Coitus Cereal
        span.episode 2.04

      .callout.callout-style-4
        h4 Fresh Fruit
        li.menu-item
          span.name Basket of Fresh Pears
          span.episode 1.03
          span.description A perfect housewarming gift for your (non-Chinese) neighbor.
        li.menu-item
          span.name Apples
          span.episode 2.10
          span.description You eat their clothes.
        li.menu-item
          span.name Oranges
          span.episode 2.10
          span.description You don’t eat their clothes.
        li.menu-item
          span.name Banana
          span.episode 3.07
          span.description High in potassium. Helps with the significant side of effects of recalling afterlife memories here on Earth.
        li.menu-item
          span.name Kellen’s Farmers Market Fresh Pluots
          span.episode 3.10
          span.description As many pluots as can fit in your tote bag.
        li.menu-item
          span.name Correspondance Center Bowl of Fruit
          span.episode 3.10
        li.menu-item
          span.name Grocery Store Tomato
          span.episode 3.11
          span.description Dozens of unintentional choices for the price of one!

    ul.menu-list
      li.menu-item
        span.name Sink Hole Donut Holes
        span.episode 1.05
        span.description You might think it’s too soon and it is. By exactly nine days.
      #eggs.callout.callout-style-2
        h4 Eggs
        li.menu-item
          span.name Hard-Boiled “I Love You Too, Egg”
          span.episode 1.11
          span.description Hide a message inside your egg to surprise your soulmate.
        li.menu-item
          span.name Kamilah’s Omelette Station
          span.episode 3.06
          span.description A world-class omelette made by the youngest person ever inducted into the Rock & Roll Hall of Fame, Kamilah Al Jamil.
        li.menu-item
          span.name An Egg On An Egg!
          span.episode 3.06
          span.description Genius! Kamilah has done it again.

      li.menu-item
        span.name Tower of Bagels
        span.episode 2.02
        span.description A spindle stacked high with bagels. Add a flavored cream cheese, provided by From Schmear to Eternity.
      li.menu-item
        span.name Blueberry Muffin
        span.episode 3.01
        span.description Order a full basket for your friend in the hospital.
      li.menu-item
        span.name Soulmate Muffins
        span.episode 1.06
        span.description Two for the price of zero.
      li.menu-item
        span.name 🔥 Dunkin’ Spiders
        span.episode 3.01


