section#dessert
  h3 Moral Dessert

  .container
    ul.menu-list
      li.menu-item
        span.name Flan Voyage
        span.episode 1.07
        span.description Custard and caramel is a perfect sendoff for your friend’s retirement.
      li.menu-item
        span.name Fake Eleanor’s Cookies & Lemonade
        span.episode 1.11
        span.description Gooey chocolate chip cookies are necessary when asking your neighbors for forgiveness.
      li.menu-item.callout.callout-style-1.img-top.center(id='lemon-bars')
        img.illo(src='/assets/images/illo-lemon-bars.png', width='172', alt='A glass tupperware of lemon bars.')
        span.name.featured Trevor’s Lemon Bars
        span.episode 3.02
        span.description No one bad could make lemon bars this good.
      li.menu-item
        span.name Chidi’s “Make Your Own” Sundae
        span.episode 2.01
        span.description Vanilla ice cream with kiwi, Junior Mints, and raisins. Don’t commit to a fruit or chocolate palate until it’s too late. 
      li.menu-item
        span.name Chew On My Ass... Sortment of Brownies
        span.episode 2.12
        span.description Bring some to a coworker’s baby shower.
      li.menu-item
        span.name #[span.emoji ❤️] Four Oreos from Heaven
        span.episode 3.10
        span.description This cookies ‘n‘ cream treat will make you forget you’re just a door’s width from paradise.
      li.menu-item
        span.name Tahani’s French Macaron Tower
        span.episode 1.07
        span.description Adds an elegant touch to any event.
      li.menu-item
        span.name Simone and Chidi’s Chocolate Mousse
        span.episode 4.06
        span.description Fluffy mousse over chocolate fudge, topped with whipped cream and raspberries.
      li.menu-item
        span.name More Chocolate Chocolate
        span.episode 4.12
        span.description An attempt to make The Good Place even better.

    ul.menu-list
      .callout.callout-style-5(id='cake')
        h4 Piece of Cake
        li.menu-item
          span.name Patricia’s 3-Tiered Celebration Cake
          span.episode 1.04
          span.description Chocolate cake with white buttercream and smooth fondant.
        li.menu-item
          span.name Janet’s Birthday Cake
          span.episode 1.07
          span.description Smash it around where your mouth is.
        li.menu-item
          span.name Eleanor’s Birthday Cake
          span.episode 1.12
          span.description White cake with pink frosting. Bring your own so you don’t owe anyone anthing and they don’t owe you anything.
        li.menu-item
          span.name Chidi’s Birthday Cake
          span.episode 3.03
        li.menu-item
          span.name Brainy Bunch Cake
          span.episode 3.03
          span.description We’ll put your photo on the cake, so you can rip out your face in an embarrassing outburst.
        li.menu-item.callout.callout-style-1.img-top.center(id='mint-cake')
          img.illo(src='/assets/images/illo-mint-cake.png', width='140', alt='A mint green cake with chocolate dripped frosting and some decorative flowers.')
          span.name.featured Retire-Mint Chocolate Cake
          span.episode 1.07
        li.menu-item
          span.name Marisol’s Birthday Cake
          span.episode 3.09
          span.description We saved you a corner piece. Get it before Erica does!
        li.menu-item
          span.name Neuroscience Funding Cupcakes
          span.episode 3.03
          span.description Vanilla cupcakes with white frosting.
        li.menu-item
          span.name Simone’s Cupcake Tower
          span.episode 4.01
          span.description Perfect for flipping (in your imagination or not).
        li.menu-item
          span.name Tiramisu
          span.episode 4.13
          span.description Chidi’s casual choice.

section#candy
  h3 Candy Bar

  .container
    ul.menu-list
      li.menu-item
        span.name Severance Handful of Butterscotch Candies
        span.episode 1.09
        span.description Grab ‘em on your way out. Peace!
      li.menu-item
        span.name Complementary FNB Lollipop
        span.episode 3.04
        span.description One lollipop per customer (unless you walk out and back in).
      li.menu-item
        span.name Lollipop That Lets You Talk to Birds
        span.episode 4.07
        span.description Do you believe in some magic?
      li.menu-item
        span.name Linda’s Peppermint
        span.episode 4.01
        span.description Make it more interesting with an optional sprinkle of cocaine.
      li.menu-item
        span.name Jason’s Distraction Caramel
        span.episode 4.04
      li.menu-item
        span.name The Good Place Smarties
        span.episode 4.12
        span.description Gives you the energy you had when you were twelve.
      li.menu-item
        span.name The Good Place Ring Pops
        span.episode 4.12
        span.description Finally you can fully understand the meaning of Twin Peaks.
      li.menu-item
        span.name Blue Cotton Candy
        span.episode 4.13
        span.description Who’s ready for Six Flags?
    ul.menu-list
      .callout.callout-style-3
        h4 Chocolate
        li.menu-item
          span.name Janet’s Assorted Chocolates
          span.episode 4.02
          span.description Maybe skip the first one. Jason said it was gross.
        li.menu-item
          span.name All Chocolate Reese’s Peanut Butter Cup
          span.episode 4.07
          span.description That day everything was chocolate was so awesome!
        li.menu-item
          span.name Chocolate soccer ball
          span.episode 4.07
        li.menu-item
          span.name Chocolate bike seat
          span.episode 4.07
        li.menu-item
          span.name One Huge Junior Mint
          span.episode 4.12
          span.description In The Good Place, you can have literally anything you want.
