section#entrees
  h3 Entrées

  ul.menu-list
    li.menu-item
      span.name Rotting Turkey Carcass
      span.episode 1.02
      span.description A fireball of turkey flesh, bones, and sinew.
    li.menu-item
      span.name Real Unicorn
      span.episode 1.09
      span.description You’ve never tasted anything like it. Served with unicorn bib and unicorn holders (like corn cob holders).
    li.menu-item.callout.callout-style-2.img-top.center(id='churro-dog')
      img.illo(src='/assets/images/illo-churro-dog.svg', width='220', alt='A hot dog with churros for buns and tied together with a slim jim.')
      span.name.featured Mall Churro Dog
      span.description A hotdog but the bun is two churros, tied together with a Slim Jim. It’s an Arizona delicacy.
      span.episode 1.08
    li.menu-item
      span.name That Chicken Sandwich
      span.episode 3.11
      span.description Fried chicken on a bun with pickle chips. It’s delicious! Unfortunately, it means you hate gay people.
    li.menu-item
      span.name Raul Benitez’s Ham Sandwich
      span.episode 3.02
      span.description Did he finish it? I guess we’ll never know.
    li.menu-item.callout.callout-style-1.img-top.center(id='ostrich-pencil')
      img.illo(src='/assets/images/illo-ostrich-pencil.svg', width='238', alt='A steak impaled on a giant novelty pencil.')
      span.name Janet’s Random Object Generator
      span.description A 14-oz ostrich steak impaled on a giant novelty pencil that says “Lordy, Lordy, I’m over 40.”
      span.episode 2.06
    li.menu-item
      span.name Trevor’s Steak & Baked Potato
      span.episode 1.09
      span.description Gonna make a primo dump later on.
    li.menu-item
      span.name Sushi Roll Combo
      span.episode 2.02
      span.description Delivered fresh each day from Sushi and the Banshees.
    .callout.callout-style-3(id='vegetarian')
      h4 Vegetarian Dishes
      li.menu-item
        span.name Chidi’s Grilled Eggplant
        span.episode 1.09
        span.description Perfect for splitsies!
      li.menu-item
        span.name Richard Moore’s Stuffed Eggplant
        span.episode 3.09
        span.description A Sugarland, Texas original. Eggplant stuffed with hot sauce and nickels. Please just eat it.
      li.menu-item
        span.name Fake Eleanor’s Mac & Cheese
        span.episode 1.09
        span.description 
      li.menu-item
        span.name Eleanor’s Steamed Vegetable Medley
        span.episode 2.12
        span.description Throw these plants in the trash.
      li.menu-item
        span.name Doug Forcett’s Radishes & Lentils
        span.episode 3.08
        span.description Organic and homegrown in rural Canada.
    li.menu-item
      span.name Pillboi’s Burrito & Guac
      span.episode 1.11
      span.description Disclaimer: May cause diarrhea.
    li.menu-item
      span.name #[span.emoji ❤️] Judge Gen’s Burrito
      span.episode 2.11
      span.description Give it a kick with the Concept of Envy hot sauce.
    li.menu-item
      span.name Just Married Tacos
      span.episode 3.04
      span.description The perfect honeymoon treat for when you marry your friend in order to give him all your money.
    li.menu-item
      span.name Good Mexican Food from Mexico
      span.episode 3.11
      span.description When you’re an immortal being and want the real human experience on Earth.
    li.menu-item.callout.callout-style-1.img-top.center(id='pizza')
      img.illo(src='/assets/images/illo-pizza.svg', width='158', alt='A plate and a slice of Hawaiian pizza.')
      span.name.featured Slice of Hawaiian Pizza
      span.description Straight out of Hawaii 5-Dough’s oven!
      span.episode 2.01
    li.menu-item
      span.name Eleanor’s Bedside Toaster Pizza
      span.episode 2.12
      span.description Hey, we’ve all been there.
    li.menu-item
      span.name Vince’s Frozen Pepperoni Pizza
      span.episode 2.12
      span.description Pair with Lonely Gal Margarita Mix for One.
