section#favorites
  h3 Favorites

  ul.menu-list
    li.menu-item.img-left
      span.name Jianyu’s Block of Tofu
      span.episode 1.04
      span.description Be quiet and eat your white sponge.
    li.menu-item
      span.name #[span.emoji ❤️] Chidi’s Grandmother’s Maafe
      span.episode 1.04
      span.description Fresh perch, slow roasted in peanut sauce. Will make you forget how miserable you are right now.
    li.menu-item.callout.callout-style-5.img-top.center(id='plate')
      img.illo(src='/assets/images/illo-plate.svg', width='158', alt='An empty plate.')
      span.name Real Eleanor’s Hunger Strike
      span.description Reminds you of Bolivia and protesting sex trafficking.
      span.episode 1.04
    li.menu-item
      span.name Glenn’s Chicken Soup
      span.episode 1.04
      span.description This special soup saved over 10,000 lives.
    li.menu-item
      span.name Eleanor’s Shrimp Scampi
      span.episode 3.09
      span.description When you need to feel like yourself again.
    li.menu-item
      span.name Jason’s Exact Replica Buffalo Wings
      span.episode 1.10
      span.description From Ugly Nick’s Meat Trench (previously Stupid Nick’s Wing Dump which closed when a pelican fell in the deep fryer).
