section#froyo
  h3 Frozen Yogurt

  .container

    ul.menu-list
      .quote.callout.callout-style-2
        p “There’s nothing quite as human as making something great and ruining it a little so you can have more of it.”
      li.menu-item
        span.name Tahani’s One Million Flavors
        span.episode 1.02
        span.description You can taste each individual one. It’s remarkable!
      li.menu-item
        span.name Michael’s No Flavor
        span.episode 1.02
        span.description It’s all you deserve.
      li.menu-item
        span.name Jason & Janet’s Honeymoon Froyo
        span.episode 1.11
      li.menu-item
        span.name The Final Food You Might Ever Eat
        span.episode 1.12
        span.description With rainbow sprinkles!
      li.menu-item
        span.name Jason’s Special
        span.episode 2.03
        span.description Strawberry with gummy bears, sour Brite Crawlers, and Pocky.
    ul.menu-list
      li.menu-item.callout.callout-style-1.img-top.center(id='chidi-froyo')
        img.illo(src='/assets/images/illo-chidi-froyo.png', width='214', alt='Three cups of frozen yogurt: mango/strawberry twist, plain, and purple.')
        span.name.featured Chidi’s Indecision Sampler
        span.episode 1.10
        span.description When you can’t decide between 3 soulmates, err... flavors.
      li.menu-item
        span.name The Gang’s Last Froyo 
        span.episode 2.09
        span.description One last hurrah before your hot air balloon ride to The Good Place.
      li.menu-item
        span.name Simone’s Special
        span.episode 3.12
        span.description Half strawberry, half male coworker gets called out for stealing your ideas.

section#froyo-list.callout.callout-style-4.wide
  h3 Froyo Flavors
  include _froyo-flavors
