ul.froyo-flavors
  li: span True potential as brilliant
  li: span No traffic
  li: span Sunshine
  li: span Peace
  li: span Free samples
  li: span A mother’s love
  li: span Strawberry vinaigrette
  li: span Clothes right out of the dryer
  li: span Wasabi
  li: span New line opens up at airport security
  li: span Rocky road
  li: span Hot shower
  li: span Recognized actor’s voice from commercial voiceover
  li: span Persimmon
  li: span Sleeping in on a rainy Sunday
  li: span Unmitigated joy
  li: span Cherry 
  li: span Kimchi
  li: span Weekend
  li: span Mars landing
  li: span Empty inbox
  li: span Sleeping in
  li: span Baby kittens
  li: span Three-day weekend
  li: span Tin roof sundae
  li: span Sriracha
  li: span Unexpected hotel upgrade
  li: span Sweet potato fries
  li: span A clean house
  li: span Pralines and cream
  li: span Haircut compliment
  li: span Nebula
  li: span Slight raise
  li: span Boysenberry
  li: span Your favorite theme song
  li: span Grape
  li: span Millenial confidence
  li: span Kindness
  li: span Second kiss, first is awkward
  li: span Game-winning home run
  li: span Double rainbow
  li: span Four-day weekend
  li: span Cilantro
  li: span Blueberry
  li: span Fantasy football champion
  li: span Inside jokes
  li: span Potato chip
  li: span Panopoly of existence
  li: span Macaroni and cheese
  li: span Neopolitan
  li: span Touchdown
  li: span Bubblegum
  li: span 7-layer dip
  li: span Jeans that fit well
  li: span Puppy cuddles
  li: span Job promotion
  li: span Summer breeze
  li: span Snow day
  li: span Technological breakthrough
  li: span Coconut
  li: span Orange sherbet
  li: span Soft, fresh sheets
  li: span [indescribable but delicious]
  lI: span Hot air balloon ride
  li: span When the lights go down at a concert
  li: span Maine lobster
  li: span Cancelled plans
  li: span Guava
  li: span Finding out your true bra size
  li: span The sound of the ocean
  li: span Fall foliage
  li: span NBA smackdown goes into overtime
  li: span A good night’s rest
  li: span Fast food
  li: span Game-winning shot
  li: span Satisfying TV finale
  li: span Peeling an orange in one piece
  li: span Prosciutto
  li: span Raspberry sorbet
  li: span Your fifth birthday cake
  li: span Caramel macchiato
  li: span The perfect high five
  li: span Triple chocolate chunk
  li: span Skinny dipping
  li: span Perfect avocado
  li: span Candy cane
  li: span New York pizza slice
  li: span You’re the thinnest at your 10-year-reunion
  li: span Newborn baby
  li: span Fast wi-fi
  li: span Completed crossword
  li: span Corner brownie
  li: span One-handed baseball catch
  li: span Baklava
  li: span Full cellphone battery
  li: span Finding a kidney donor
  li: span How skinny feels
  li: span Handwritten note in the mail
  li: span Caramel corn
  li: span Bacon-wrapped hot dog
  li: span Beyoncé concert
  li: span Good book
  li: span Wisdom
  li: span Baby laughter
  li: span Cookies ‘n’ cream
  li: span Sweet basil
  li: span The softness of a puppy’s tiny ears
  li: span Bubble wrap
  li: span Cookie dough
  li: span Your grandma’s apple crisp
  li: span Candlelight
  li: span Yellow curry
  li: span The perfect mixtape
  li: span Learning to tie your shoes
  li: span Good online date
  li: span A job well done
  li: span Smiles
  li: span Fixing a problem
  li: span Summer vacation
  li: span Perfectly removed sticker
  li: span Peanut butter cup
  li: span You look and feel great at your reunion
  li: span Pumpkin pie
  li: span Stardust
  li: span Vanilla fudge ripple
  li: span The cool side of your pillow
  li: span Glazed ham
  li: span Fresh churro
  li: span Perfectly fitting jeans
  li: span Gilmore girls is back!
  li: span Last puzzle piece
  li: span Laughter
  li: span Beyoncé compliments your hair
  li: span Beautiful music
  li: span Sitting by the fireplace
  li: span Hot bread
  li: span Catching a wave
  li: span Strawberry cheesecake
  li: span Your first kiss
  li: span Banana cream pie
  li: span Monterey jack
  li: span Fresh cut grass
  li: span S’mores
  li: span Five-dollar-bill you find in your pocket unexpectedly
  li: span Caller doesn’t leave a voicemail
  li: span Achieved goals
  li: span Grandma’s kisses
  li: span Making the yellow light at an intersection
  li: span Umami
  li: span The perfect ratio of peanut butter to jelly
  li: span Tahitian vanilla
  li: span Seedless watermelon
