section#hors-doeuvres.callout.callout-style-4
  h3 Hors d’oeuvres
  ul.menu-list

    li.menu-item
      span.name Madison’s Delish Nachos
      span.episode 2.12
      span.description Definitely not vegetarian.
    li.menu-item
      span.name Eleanor’s Pre-Spider-Man 2 Chips & Salsa
      span.episode 1.09
    li.menu-item
      span.name Donkey Doug’s Pepperoni Hot Pockets
      span.episode 3.05
      span.description Served in its microwave cardboard sleeve.
    li.menu-item
      span.name Larry Hemsworth’s Vegemite Canape
      span.episode 3.03
      span.description The Australian fare you crave (like those other, more accomplished Hemsworth brothers).

    li.menu-item.callout.callout-style-1.img-top.center(id='cheese-plate')
      img.illo(src='/assets/images/illo-cheese-plate.svg', width='160', alt='Cubed and sliced cheese on a paper plate with plastic fork.')
      span.name P.T.A. Meeting Cheese Plate
      span.description Enjoy a paper plate piled high with sliced and cubed deli cheeses. 
      span.episode 3.06

    li.menu-item
      span.name Museum of Human Misery Platter
      span.episode 2.10
      span.description As terrible as you’d expect it to be:
        ul
          li.icon.fire Soul food from Maine
          li.icon.fire Bagels from Arkansas
          li.icon.fire Hawaiian pizza
          li.icon.fire Egg salad from a hospital vending machine in Azerbaijan

    li.menu-item
      span.name Thursday Night Drinks Mozzarella Sticks
      span.episode 1.02
      span.description Perfect for an evening drive through the giant loophole in the system you accidentally discovered.

    li.menu-item.callout.callout-style-1.img-top.center(id='jalepeno-poppers')
      img.illo(src='/assets/images/illo-jalepeno-poppers.svg', width='190', alt='Jalepeño popper.')
      span.name.featured Jason’s Jalepeño Poppers Challenge
      span.description Fried jalepeños filled with cheese. Eat fifty poppers in under two minutes to break Jason’s record and impress all the workers at the nearby hospital.
      span.episode 1.09
