section#hors-doeuvres.callout.callout-style-4
  h3 Hors d’oeuvres
  ul.menu-list

    li.menu-item
      span.name Madison’s Delish Nachos
      span.episode 2.12
      span.description Definitely not vegetarian.
    li.menu-item
      span.name Eleanor’s Pre-Spider-Man 2 Chips & Salsa
      span.episode 1.09
    li.menu-item
      span.name Donkey Doug’s Pepperoni Hot Pockets
      span.episode 3.05
      span.description Served in its microwave cardboard sleeve.
    li.menu-item
      span.name Larry Hemsworth’s Vegemite Canape
      span.episode 3.03
      span.description The Australian fare you crave (like those other, more accomplished Hemsworth brothers).

    #cheese-plate.callout.callout-style-1.center
      img.illo(src='/assets/images/illo-cheese-plate.svg', width='160', alt='Cubed and sliced cheese on a paper plate with plastic fork.')
      li.menu-item
        span.name P.T.A. Meeting Cheese Plate
        span.description Enjoy a paper plate piled high with sliced and cubed deli cheeses. 
        span.episode 3.06

    li.menu-item
      span.name Museum Hors D’oeuvres Platter
      span.episode 2.10
      span.description As terrible as you’d expect it to be:
        ul
          li 🔥 Soul food from Maine
          li 🔥 Bagels from Arkansas
          li 🔥 Hawaiian pizza
          li 🔥 Egg salad from a hospital vending machine in Azerbaijan

    li.menu-item
      span.name Thursday Night Drinks Mozzarella Sticks
      span.episode 1.02
      span.description Perfect for an evening drive through the loophole in the system.

    #jalepeno-poppers.callout.callout-style-1.center
      img.illo(src='/assets/images/illo-jalepeno-poppers.svg', width='190', alt='Jalepeño popper.')
      h4 Jason’s Jalepeño Poppers Challenge
      li.menu-item
        span.description Fried jalepeños filled with cheese. Eat fifty poppers in under two minutes to break Jason’s record and impress all the workers at the nearby hospital.
        span.episode 1.09
