section#intro.callout.callout-style-3
  h2.center Welcome!
    br
    | Everything is fine.
  p Enjoy the food and drink you remember from Eleanor and friends’ time on Earth, in the fake Good Place, the Bad Place, and the real Good Place.

  p
    small Open Tuesdays + also July + sometimes never

  #legend
    small #[span.emoji ❤️] Recommended
    br
    small #[span.emoji 🔥] The Bad Place Specialty
