section#intro.callout.callout-style-3
  h2.center Welcome!
    br
    | Everything is fine.
  p Enjoy the drinks, snacks, and dishes you remember from Eleanor and friends’ time on Earth, in the fake Good Place, the Bad Place, and the real Good Place.

  #legend
    small ❤️ Customer Favorite
    br
    small 🔥 The Bad Place Specialty
