section#partners
  .container
    h3 Partners & Suppliers

    .earth

      ul.partner-group
        h4 Sydney
        li.partner Eating Nemo
        li.partner Coneflower Bakery
        li.partner We Crumb From A Land Down Under
        li.partner Cowboy Skyskraper Buffet
        li.partner Drinking Nemo
        li.partner BNG Grocery
        li.partner Bean Barrel
        li.partner French Pressing Nemo Cafe

      ul.partner-group
        h4 Paris
        li.partner Les Deux Magots

      ul.partner-group
        h4 Calgary
        li.partner The Puking Moose Saloon
        h4 Florida
        li.partner Stupid Nick’s Wing Dump
        li.partner Ugly Nick’s Meat Trench
        li.partner La Cantina de los Cielos

      ul.partner-group
        h4 Arizona
        li.partner Andy’s Coffee
        li.partner Joselito’s Mexican Food
        li.partner Coyote Joe’s Marketplace
        li.partner Sting’s Desert Rosé
        li.partner The Sandy Spoon
        li.partneer Murray & Mande’s Coffee

    .good-place

      h4 The Fake Good Place
      ul.partner-group
        li.partner Yogurt Acres
        li.partner Let’s All Eat Yogurt
        li.partner gpby (Good Place’s Best Yogurt)
        li.partner Yogurt Horizons
        li.partner Yogurt Yoghurt Yogurté
        li.partner The Suggestion of Yogurt
        li.partner Yogurt Gulch
        li.partner Cup Cakes
        li.partner Fro-Yo Cakes
        li.partner The Good Plates
        li.partner All Chocolate Everything
        li.partner Tea for Two Couples Cafe
        li.partner All The Pizza
        li.partner Perfect Temperature Pizza
        li.partner Plenty of Pizza
        li.partner Correct Combination of Toppings
        li.partner Hawaii 5-Dough
        li.partner From Schmear to Eternity
        li.partner Lasagne Come Out Tomorrow
        li.partner Ziti of Stars
        li.partner You Do The Hokey Gnocchi And You Get Yourself Some Food
        li.partner The Pesto’s Yet To Come
        li.partner Cake Canaveral
        li.partner Knish From a Rose
        li.partner Biscotti Pippen
        li.partner Cruller Intentions
        li.partner Beignet and the Jets
        li.partner Steak on a Stick
        li.partner Hot Dog on a Stick on a Stick
        li.partner Caviar on a Stick
        li.partner Bagel on a Stick
        li.partner Sushi and the Banshees
        li.partner Ponzu Scheme
        li.partner Chicken Soup for the Mouth
        li.partner Mmmm! Chowder Fountain
        li.partner A Little Bit Chowder Now
        li.partner Pump Up The Clam
        li.partner Custard’s Last Flan
        li.partner Panna Cotta Da Vida
        li.partner A Few Pudd Men
        li.partner Puddington Bear
        li.partner I Thought I Saw a Puddin Vat
        li.partner Boyz n the Pudd
        li.partner Luncheons and Dragons
        li.partner PB&J and That’s It
        li.partner Satay Day Night Fever
        li.partner Kabob Patch Kids
        li.partner Foot lager
        li.partner Chai There
        li.partner Everything is Vine!
        li.partner You Can Have-a Da Mango!

    .good-place

      h4 The Good Place
      ul.partner-group
        li.partner Tahani’s Perfect Pizza Palace
