section#shareables
  h3 Shareables

  ul.menu-list
    li.menu-item
      span.name Tahani’s Evening Tea
      span.episode 1.03
      span.description Served with an assortment of finger sandwiches and petit fours.

    li.menu-item.callout.callout-style-1.img-top.center(id='sandwich')
      img.illo(src='/assets/images/illo-sandwich.png', width='344', alt='A long submarine sandwich with tomatoes and lettuce, lettuce spilling out.')
      span.name Janet’s Giant Submarine Sandwich
      span.episode 2.06
      span.description A submarine sandwich as long as Pinocchio’s nose. “I love your outfit!”

    li.menu-item
      span.name 100 Hawaiian Pizzas
      span.episode 1.08
      span.description We can also deliver directly to your office.
    li.menu-item
      span.name Brainy Bunch Chinese Takeout
      span.episode 3.03
      span.description For those late night study sessions. Don’t forget the fortune cookie!
    li.menu-item.callout.callout-style-4.img-top.center(id='chili')
      img.illo(src='/assets/images/illo-chili.png', width='164', alt='A big metal pot full of chili with speckles of brightly colored candy.')
      span.name.featured Chidi’s Nihilism Chili
      span.episode 3.04
      span.description Spicy Stagg chili, marshmallow Peeps, and peanut M&Ms. You put the Peeps in the chili pot and you eat ‘em both up.
