section#shrimp
  h3 Fruits de Mer
  ul.menu-list
    li.menu-item
      span.name Buzzer Beater Lightly-Expired Cocktail Shrimp
      span.episode 1.12
      span.description A Coyote Joe’s Marketplace 99&#162; special all the way from Phoenix, Arizona.
    li.menu-item
      span.name #[span.emoji ❤️] Big Party Cocktail Shrampies
      span.episode 1.01
      span.description Save some for later in your bra or your many, many cargo pants pockets.
    li.menu-item
      span.name Large Bucket of Popcorn Shrimp
      span.episode 3.07
      span.description Perfect for movie watching with your soulmate.

    li.menu-item.callout.callout-style-1.img-top(id='neverending-shrimp')
      img.illo(src='/assets/images/illo-neverending-shrimp.png', width='172', alt='Two margarita glasses full of fried shrimp.')
      span.name Eleanor’s Neverending SHRIMP! Dispensary
      span.episode 2.05
      span.description Fill a margarita glass to the brim with lightly-fried shrimp. Then do it again and again. Top it off with one of our signature sauces:
        ul
          li.icon.shrimp Mountain Blast
          li.icon.shrimp All-American Funky Circus Mustard
          li.icon.shrimp Sriracha Sunrise
          li.icon.shrimp Garlic
          li.icon.shrimp Mystery (hint: rhymes with shite shmocolate)
          li.icon.shrimp Cool Ranch
          li.icon.shrimp Cajun
          li.icon.shrimp Lonely Gal Margarita Mix for One
    li.menu-item
      span.name Jason’s Farewell Raw Oyster Bar
      span.episode 4.13
    li.menu-item
      span.name Lobster Tail
      span.episode 4.13
      span.description Stand behind your parents and watch them enjoy this classic of the sea with Oscar de la Renta.
