section#sides.callout.callout-style-2
  h3 Sides & Sauces

  ul.menu-list
    li.menu-item
      span.name Eleanor’s Side of Mushrooms
      span.episode 2.01
      span.description She loved them and can honestly say that.
    li.menu-item
      span.name Disappointing Soulmate Rice Bowl
      span.episode 2.01
      span.description This guy can’t hold a camel to your real best friend.
    li.menu-item
      span.name Handful of Olives from the Salad Bar
      span.episode 2.07
      span.description Don’t listen to that little tiny voice in your head.
    li.menu-item
      span.name One Pickle Short of a Pickle Party
      span.episode 2.12
    li.menu-item
      span.name #[span.emoji 🔥] Nascar Ketchup
      span.episode 2.10
    li.menu-item.callout.callout-style-1.short
      span.name The Concept of Envy
      span.episode 2.10
      span.description Give your Mexican food a kick!
    li.menu-item
      span.name Tahani’s Tahini
      span.episode 1.05
      span.description An unfortunate misspelling in your parents’ will, but a delicious sauce for dipping.
    li.menu-item
      span.name Nacho Cheese Flavored Tears
      span.episode 3.10
      span.description From your very favorite movie theatre.
    li.menu-item
      span.name Toilet Full of Broccoli
      span.episode 4.07
      span.description Just like Brent!
    li.menu-item
      span.name Bad Janet’s Spicy Mayo
      span.episode 4.10
      span.description A special from Bad Janet’s void. A jar of mayonnaise with a stick of dynamite.
    li.menu-item
      span.name Music You Can Eat
      span.episode 4.12
      span.description Maybe this could make The Good Place better somehow?
