section#sides.callout.callout-style-2
  h3 Sides & Sauces

  ul.menu-list
    li.menu-item
      span.name Eleanor’s Side of Mushrooms
      span.episode 2.01
      span.description She loved them and can honestly say that.
    li.menu-item
      span.name Disappointing Soulmate Rice Bowl
      span.episode 2.01
    li.menu-item
      span.name Handful of Olives from the Salad Bar
      span.episode 2.07
    li.menu-item
      span.name One Pickle Short of a Pickle Party
      span.episode 2.12
    li.menu-item
      span.name 🔥 Nascar Ketchup
      span.episode 2.10
    li.menu-item
      span.name The Concept of Envy
      span.episode 2.10
      span.description Give your Mexican food a kick!
    li.menu-item
      span.name Tahani’s Tahini
      span.episode 1.05
      span.description An unfortunate misspelling in you parents’ will, but a delicious sauce for dipping.
    li.menu-item
      span.name Nacho Cheese Flavored Tears
      span.episode 3.10
      span.description From your very favorite movie theatre.
