section#soups
  h3 Soups

  ul.menu-list
    li.menu-item
      span.name Real Eleanor’s Tom Yum Goong Soup
      span.episode 1.09
      span.description The lemongrass and kaffir lime leaves will remind you of Thailand and rescuing victims of human trafficking.
    li.menu-item
      span.name Chidi
      span.episode 2.01
      span.description Not your typical name, but Chidi is in fact not a soup.
    li.menu-item
      span.name Chidi’s Regretful Pumpkin Soup
      span.episode 1.10
      span.description A great decision! (Actually maybe not, better order the risotto.)

    .callout.callout-style-2.img-top(id='chowder')
      img.illo(src='/assets/images/illo-clam-chowder.svg', width='103', alt='Hot clam chowder in a camping mug.')
      h4 Our Famous Clam Chowder
      ul
        li.menu-item
          span.name Trevor’s Manhattan Clam Chowder
          span.episode 1.08
          span.description A specialty of the Trans-Eternal Railway dining car (closed). Clams in a tomato broth, served room temperature.
        li.menu-item
          span.name Traditional New England Clam Chowder
          span.episode 2.02
          span.description Hot ocean milk with dead animal croutons. A savory latte with bugs in it. Scoop a cup at the chowder fountain or take a dip in the lazy river.

    li.menu-item
      span.name Shawn’s “Someone” Soup
      span.episode 2.09
      span.description Extra spicy with hand-tortured human. So random! #[span.emoji 😂]
    li.menu-item
      span.name Michael’s Saltine Cracker
      span.episode 1.07
      span.description Go out on a low note with this accompaniment. Pretty dry. And too salty.
