section#theselection
  h3 #[span.emoji 🔥] The Selection Takeout

  .container
    ul.menu-list
      .callout.callout-style-2
        p Take a break from all that “good” stuff to feast on some specialties of The Bad Place.
        p These dishes were selected by Shawn and team of demon ash-holes, then left out all night to fester.
        p “Today’s crumbs are tomorrow’s maggots.”
      li.menu-item
        span.name That Gunk That Builds Up Inside a Sonicare
        span.episode 0.03
      li.menu-item
        span.name An Entire Baby
        span.episode 0.03
        span.description Get one for the table to share.
    ul.menu-list
      li.menu-item
        span.name Expired, Way Too Hot New England Clam Chowder
        span.episode 0.03
        span.description We love a good mouth scalding!
      li.menu-item
        span.name Sludge From Inside Shoes You Don’t Wear Socks With
        span.episode 0.03
        span.description From that new food truck. (Although not enough dandruff on anything.)
      li.menu-item
        span.name Completely Overflowing Toilet
        span.episode 0.03
      li.menu-item
        span.name Mixed Teeth
        span.episode 0.03
        span.description Original flavor, now with cavities!
      li.menu-item
        span.name Seven Layer Dip
        span.episode 0.03
        span.description Barf, garbage, glass, condom confit, and then that stacked up again to get to seven.
      li.menu-item
        span.name Sun-Dried Mayonnaise
        span.episode 0.04
        span.description Actually pretty bad!
      li.menu-item
        span.name Burrito Full of Hair
        span.episode 0.04


