/*--------------------------------------------------------------------
* $404
--------------------------------------------------------------------*/

.fourohfour
  height: 100vh
  background: white
  display: flex
  justify-content: center
  align-items: center

  .content
    padding: 30px
    text-align: center
  
  h1
    margin-bottom: 30px
    color: $green

  a
    color: $green
    text-decoration: underline
